<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CyGloberRouter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED1D05EA1E55F110007F28D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED1D06031E55F110007F28D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED1D060E1E55F110007F28D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
